body {
    font-family: "Noto Sans", sans-serif;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder; 
    border-color: grey;
    border-radius: 3px;
    color: black;
    background-color: white;
    text-decoration: none;
}